Adafruit-Blinka==5.7.0
adafruit-circuitpython-dht==3.5.1
Adafruit-PlatformDetect==2.21.0
Adafruit-PureIO==1.1.7
freeopcua==0.90.6
lxml==4.6.1
opcua==0.98.12
pyftdi==0.52.0
pyserial==3.4
python-dateutil==2.8.1
pytz==2020.4
pyusb==1.1.0
rpi-ws281x==4.2.5
RPi.GPIO==0.7.0
six==1.15.0
sysv-ipc==1.0.1
